.mt-6 {
  margin-top: 4.25rem;
}

.slot {
  height: 18vw;
  vertical-align: middle;
  color: #848b92;
  font-size: calc(1.325rem + .9vw);
  font-weight: 450;
}

table, .slot {
  border-color: #848b92 !important;
}

nav {
  border-bottom: 1px solid #e7eaee;
}