.pt-6 {
  padding-top: 4.25rem;
}

.max-vh-100 {
  max-height: 100vh;
}

.slot {
  height: 18vw;
  vertical-align: middle;
  color: #848b92;
  font-size: calc(1.325rem + .9vw);
  font-weight: 450;
}

.input-group span {
  font-size: 0.8rem;
  color: #2e3338;
}

table, .slot {
  border-color: #848b92 !important;
}

nav {
  border-bottom: 1px solid #e7eaee;
}